{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <meta name="format-detection" content = "telephone=no">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <title>ServiceHub</title> 
    <link rel="icon" href="{% static 'servicehub/images/favicon.ico' %}">
    <link href="{% static 'servicehub/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/custom-icons.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/css3.css' %}" rel="stylesheet">
    <link href="{% static 'servicehub/css/theme/theme-1.css' %}" rel="stylesheet" id="switch_style">
</head> 
<body>
    <div id="wrapper" class="homePage">
        <header id="header">
            <div class="container"> 
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-2">
                        
            <div class="col-6 col-xl-2">
<h1 style="font-size: 50px"><a  class="text-black mb-0" style="color: white">Service<span class="text-primary">Hub</span> </a></h1>
</div> 
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-10">
                        <div class="right-header clearfix">
                            <nav class="navigation">
                                <div class="close-menu"><i class="fa fa-close" aria-hidden="true"></i></div>
                                    <div class="navbar-collapse">
                                        <ul class="nav navbar-nav">
                                            <li ><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'our_service' %}">Our Service</a></li>
                                            <li><a href="contact-us.html">Contact Us</a></li>
                                            <li class="active"><a href="{% url 'aboutus' %}">About Us</a></li>
                                            <li><a href="{% url 'login' %}">Feedback</a></li>
                                       </ul>
                                    </div>
                             
                            </nav>
                        <div class="register-link">
                            <li> <i class="fa fa-user" ><a href="{% url 'login' %}" ></i> Login/Register</a></li>
                        </div>  
                    </div>
                   </div>
                </div>
            </div>
        </header>
        <!-- Banner Section --> 
       <section id="our-story" class="section-block">
                <div class="container">
                    <div class="top-desc text-center">
                        <h2>Our Story</h2>
                        <p class="sub-heading">You’re in the right place!</p>
                    </div>
                    <div class="our-detail">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Vision</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Mission</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Our Values</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
                        </div>
                    </div> 
                </div>
            </section>
            <!-- Our info section -->
            <section id="our-info" class="section-block">
                <div class="blue-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon icon-empowered" aria-hidden="true"></i>
                            <h3><span class="counter">150,000</span>+</h3>
                            <p>Empowered</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="icon icon-borrowed" aria-hidden="true"></i>
                            <h3>$<span class="counter">5</span> billion+</h3>
                            <p>Borrowed</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="icon icon-rating" aria-hidden="true"></i>
                            <h3>Customer</h3>
                            <p>Rating</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Our team section -->
            <section id="our-team" class="section-block">
                <div class="container">
                    <div class="top-desc text-center">
                        <h2>Our TEAM</h2>
                        <p class="sub-heading">You’re in the right place!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                            <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <ul class="list-inline social-share">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                            <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <ul class="list-inline social-share">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                            <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <ul class="list-inline social-share">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section> 
            
        
        <!-- Footer Start -->
        <footer id="footer">
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h3>Quick Links</h3>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="links">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div> 
                        <div class="col-md-4 col-sm-6">
                            <h3>Our Services</h3>
                            <div class="row">
                                <div class="col-xs-4">
                                    <ul class="links">
                                        <li><a href="#">Cleaning</a></li>
                                        <li><a href="#">Pest Control</a></li>
                                        <li><a href="#">Electrical</a></li>
                                        <li><a href="#">Plumbing</a></li>
                                       
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="links">
                                        
                                         <li><a href="#">Appliance Services</a></li>
                                        <li><a href="#">Vehicle Care</a></li>
                                        <li><a href="#">Painting</a></li>

                                        <li><a href="#">Carpentry</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Follow us</h3>
                            
                            
                            <ul class="list-inline social-links">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </footer> 
    </div>
    <!-- JavaScript files -->
    <script src="{% static 'servicehub/js/jquery-1.12.4.min.js' %}"></script><!-- jquery-1.12.4.min js-->
    <script src="{% static 'servicehub/js/bootstrap.min.js' %}"></script><!-- bootstrap.min js-->
    <script src="{% static 'servicehub/js/slick.min.js' %}"></script><!-- slick js-->
    <script src="{% static 'servicehub/js/bootstrap-select.min.js' %}"></script><!-- Bootstrap selectbox js-->
    <script src="{% static 'servicehub/js/custom.js' %}"></script><!-- custom js--> 
    <script type="text/javascript" src="{% static 'servicehub/js/jquery-1.6.1.min.js' %}"></script>
    <script src="{% static 'servicehub/js/jquery.dd.js' %}"></script><!-- selectbox js-->
        <script language="javascript" type="text/javascript">
        function showvalue(arg) {
            alert(arg);
        }
        $(document).ready(function() {
        try {
                oHandler = $(".mydds").msDropDown().data("dd");
                $("#ver").html($.msDropDown.version);
                } catch(e) {
                    alert("Error: "+e.message);
                }
        })
    </script>
</body>


</html>

